<header class="header-6">
    <div class="branding">
      <a  routerLink="home" class="nav-link">
        <span class="title">₿ CRYPTO WORLD</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="home" class="active nav-link" aria-current="page"><span class="nav-text">home</span></a>
      <a routerLink="seguidos" class="nav-link"><span class="nav-text">Mis seguidos</span></a>
      <a routerLink="mensajes"class="nav-link"><span class="nav-text">Mensajes</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          Administrador
          <!-- <cds-icon shape="angle" direction="down"></cds-icon> -->
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a  clrDropdownItem>Ajustes</a>
          <a  clrDropdownItem>Cerrar Sesión</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <router-outlet></router-outlet>
  



