<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Mensajes Privados</h5>
          <ul class="list-group">
            <li class="list-group-item">Will Smith</li>
            <li class="list-group-item">Jorge Jungle</li>
            <li class="list-group-item">Bob Marley</li>
            <li class="list-group-item">Alicia Maravilla</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
